<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
  <div class="container theme-showcase" role="main">
    <div class="jumbotron" align="center">
      <h1 align="left">LNU Electronics Dashboard</h1>
      <form method='post' action=''>
        <table>
          <tr style="margin-bottom: 20px;">
            <th>
              <span for="firstDate">Початкова дата</span>
            </th>
            <th>
              <input name="reqDateFirst" type="date" value="firstDate">
            </th>
          </tr>
          <tr>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th>
              <span for="secondDate">Кінцева дата</span>
            </th>
            <th>
              <input name="reqDateSecond" type="date" value="secondDate">
            </th>
          </tr>
        </table>
        <br>
        <div align="left" style="margin-left: 40%;">
          <input type="radio" id="radio-box1" name="radio" value="archive_excels">
          <label for="radio-box1">Завантажити таблиці роздільно</label>
          <br>
          <input type="radio" id="radio-box2" name="radio" value="one_excel">
          <label for="radio-box2">Завантажити об'єднану таблицю</label>
          <br>
          <input type="radio" id="radio-box3" name="radio" value="show" checked>
          <label for="radio-box3">Показати тут</label>
        </div>
        <br>
        <div align="center">
          <button type='submit' class="btn btn-lg btn-success">Показати</button>
        </div>
      </form>
    </div>
    <table  class="table table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th><%= contacts[0].name %></th>
          <th><%= contacts[0].action %></th>
          <th><%= contacts[0].room %></th>
          <th><%= contacts[0].sendTime %></th>
          <th><%= contacts[0].timeStamp %></th>
        </tr>
      </thead>
      <% for(let i=1; i<contacts.length; i++) {%>
        <tbody>
          <tr>
            <th style="font-weight: 400;"><%= i %></th>
            <th style="font-weight: 400;"><%= contacts[i].name %></th>
            <th style="font-weight: 400;"><%= contacts[i].action %></th>
            <th style="font-weight: 400;"><%= contacts[i].room %></th>
            <th style="font-weight: 400;"><%= contacts[i].sendTime %></th>
            <th style="font-weight: 400;"><%= contacts[i].timeStamp %></th>
          </tr>
        </tbody>
      <% } %>
    </table>
  </div>
  
</body>
</html>

